
body{
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    max-width: 100%;
	min-width: 80%;
	background-color: #006A00;
	max-height: 100%;
	min-height: 80%;
}

button, a{
    font-weight: 700;
}


.welcome{
        float: right;
        width: 250px;
        margin-right: 20px;
        font-size: 18px;
        color: white;
}

.welcome h4{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0px;
}

.buttn, .welcome button{
  background: #006A60;
  margin-top: 10px;
  font-size: 14pt;
  margin-left: 3%;
  /*margin-right: -.6%;*/
  margin-bottom: 10px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.buttn:hover, .welcome button:hover{
  background: #fff;
  color: #006A60;
}


.welcome button{
  background: #006A00;
}

.welcome button:hover{
  background: #fff;
  color: #006A00;
}


#edit, #edit2, #edit3, #edit4{

	float: right;
	
}
#d3, #d4, #d5, #d6{
	width: 170px;
	float: right;
	display: none;
}

#Container{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#Header{
    height: 150px;
    background-color: #006A00;
    margin-top: 0px;
}

#name{
	width: 98%;
	height: 140px;
	border-bottom: 3px solid red;
	color: #fff;
}

#phone{
	width: 98%;
	height: 140px;
	border-bottom: 3px solid red;
	color: #fff;
}

#City{
	width: 98%;
	height: 140px;
	border-bottom: 3px solid red;
	color: #fff;
	background-color: #006A60;
	padding-left: 5px;
}
#About{
	width:98%;
	height: 220px;
	color: #fff;
}
#Resume{
    margin: 5px;
    float: left;
    width: 98%;
	height:10%;
	color: #fff;
}

#ProfilePic{

    width: 98%;

	border-bottom: 3px solid red;
	color: #fff;
}

#Finder{
	padding-left: 5px;
   `width: 74%;
    height: auto;
	min-height: 100%;
	background-color: #006A60;
	border: 4px solid #fff;
	border-radius: 5px;
	overflow-y: scroll;
}


#SideBar{
	display: block;
    width: 25%;
    height: 100%;
    padding-top: 10px;
	padding-bottom: 68px;
    background-color: #006A00;
    list-style-type: none;
    float: left;
}

#SideBar li a {
    border: 2px solid #fff; /* Add a border to all links */
    width: 80%;
    margin-top: -2px; /* Prevent double borders */
    margin-left: 6%;
    background-color: #006A00; /* Grey background color */
    border-radius: 5px;
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: #fff; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}
 
#SideBar li a:hover:not(.header) {
    background-color: #fff; /* Add a hover effect to all links, except for headers */
    color: #006A00;
}


#MainBody{
    width: 75%;
	margin-left: auto;
	margin-right: auto;
    float: right;
	height: 100%;
	background-color: #006A00;
}

#banner{
	margin-left: 10px;
    width: 450px;
    height: 170px;
    display: inline-block;
}
#head{
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 72px;
    display: inline-block;
    margin-bottom: 0px;
}

#welcome_user{
    display: none;
    text-align: center;
}



#logout_button{
        margin-right: auto;
        margin-left: auto;
}

.upload {
 	height: 250px;
	margin:auto;
	display:block;
	margin-top: 10px;
	margin-bottom: 10px;
}

#upl{
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

#box{
	float: left;
	margin-top:10px;
	margin-left: 0px;
	width: 30%;
}

#box1{
	float: left;
	margin-top:10px;
	margin-left: 0px;
	width: 30%;
}

#box2{
	float: left;
	margin-top:10px;
	margin-left: 0px;
	width: 40%;
}

#box3{
	float: left;
	margin-top:10px;
	margin-left: 0px;
	width: 30%;
}
/*
.welcome{
        float: right;
        width: 20%;
        margin-right: 20px;
        font-size: 18px;
        color: white;
}

.welcome h4{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0px;
}*/



/*
#ProfilePic{
    margin: 10px;
    float: right;
    width: 25%;
	height: 25%;
}
*/
